<!-- login.html -->
{% extends 'layout.html' %}
{% block body %}
<nav>
    <h1><a href='/todolistapp/home'>To-Do List App</a></h1>
    <ul>
        <li><a href='/todolistapp/register'>Register</a></li>
    </ul>
</nav>
{{error}}
<h2>Login</h2>
<form method="post" action="{% url 'loginuser' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
</form>
{% endblock body%}
